<mat-card class="user-detail-header" appearance="outlined">
  <img src="img/user-profile-img.png" alt="" />
  <div class="user-details">
    <h2> {{ user.firstName }} {{ user.lastName }}</h2>
    <br />
     {{ user.email }}
  </div>
</mat-card>

<mat-card class="mt-32">
  <mat-card-header>
    <mat-card-title>Address</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p> {{ user.street }} {{ user.streetnumber }}</p>
    <p> {{ user.zipCode }} {{ user.city }}</p>
  </mat-card-content>
</mat-card>
