.task-detail-header {
    min-height: 250px;
    background-color: #ff5b27; // Passen Sie die Farbe an
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    padding: 16px;
  
    img {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      object-fit: cover;
    }
  
    .task-details {
      margin-left: 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  
  .mt-32 {
    margin-top: 32px;
  }
  
  .pin-upper-right-corner {
    position: absolute;
    top: 0;
    right: 0;
  }